
.blocks {
    
    display: flex;
    flex-wrap: wrap;
    

}
.block1,
.block2,
.block3,
.block4
{ display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
      width: 20%;
    margin: 20px;
    padding: 0px;
    height: 150px;
    border: 1px solid greenyellow;
}
.promo-block{
  /*display: flex;
  flex-direction:row;
  justify-content:space-between;*/
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 30px;
}
.button{
  background-color: khaki;
  color: red;
  margin: 15px;
}
.value{
  margin: 15px;
}
/*
.parent-wrapper {
	height: 100%;
	width: 100%;

}
	.parent {
	display: flex;
	flex-wrap: wrap;
	

}
	.child {
	height: 150px;
	flex-grow: 1;
	flex-shrink: 
	flex-basis: calc(25% - 10px);
    border: 1px solid greenyellow;
    margin: 20px;
}/*
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
  
  
  .child {
    height: 150px;
    border: 1px solid greenyellow;
  }


